<% include ./partials/header %> 

     <header class="jumbotron">
         <div id="header" class="container">
             <h1><span class="header-intro">Let's Get</span><span class="header-logo"> Voting</span></h1>
                 <p>HandsUp is a fun and inovative web-based voting application that allows you to create, vote and share polls with friends. Explore our most popular topics or start creating today!</p>
             <p>
                 <a href="/register" class="btn btn-success btn-large">Get Started</a>
                <a class="btn btn-primary btn-large" href="/polls">View Polls</a>
            </p>
         </div>
     </header>
   