
     <header class="jumbotron">
         <div class="container">
             <h1>To The Polls!</h1>
                 <p>Join in the discussion. View our top polls below.</p>
             <p>
                <a class="btn btn-primary btn-large" href="/polls/new">Add New Poll</a>
             </p>
         </div>
     </header>
     
     